apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ .Values.replicasCount }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
      containers:
        - name: {{ .Release.Name }}
          image: "{{ .Values.image }}"
          imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
          resources:
            limits:
              cpu: {{ .Values.cpu }}
              memory: {{ .Values.memory }}
            requests:
              cpu: 50m
              memory: 50Mi
          ports:
            - name: syslog
              containerPort: 5140
              protocol: UDP
          env:
            - name: AWS_REGION
              value: "{{ .Values.awsRegion }}"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}
                  key: aws-access-key-id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}
                  key: aws-secret-access-key
            - name: TINYSYSLOG_LOG_FILE
              value: "{{ .Values.syslogLogFile }}"
            - name: TINYSYSLOG_SINK_TYPE
              value: "{{ .Values.syslogSinkType }}"
            - name: TINYSYSLOG_SYSLOG_FORMAT
              value: "{{ .Values.syslogFormat }}"
            - name: TINYSYSLOG_CLOUDWATCHLOGS_LOG_GROUP
              value: "{{ .Values.cloudwatchLogGroup }}"
            - name: TINYSYSLOG_MUTATOR_TYPE
              value: "{{ .Values.mutatorType }}"
{{- if and ($key := .Values.nodeSelector) ($value := .Values.nodeSelector) }}
      nodeSelector:
        {{- range $key, $value := .Values.nodeSelector }}
        {{ $key }}: {{ $value }}
        {{- end }}
{{- end }}
